.rileyForm {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  background-color: #faf211;
  font-family: Verdana;
  font-size: 1rem;
  color: #828d8f;
}

.rileyFormText {
  margin: 1em auto;
  text-align: center;
}

.description {
  padding-bottom: 1em;
  font-size: 18px;
  width: 80%;
}

.rileyForm fieldset {
  border: none;
  padding: 1rem 0;
  border-bottom: 1.5px solid #f5ee2a;
}

.rileyForm fieldset:last-of-type {
  border-bottom: none;
}

.surveyForm {
  width: 80vw;
  max-width: 500px;
  min-width: 300px;
  padding: 0 2em 2em 2em;
  background-color: #828d8f;
  color: white;
  margin: 0 auto;
}

.surveyForm p {
  text-align: left;
}

.rileyForm label {
  display: block;
  margin: 0.5rem 0;
}

.fullWidth {
  margin: 10px 0 0 0;
  width: 100%;
  min-width: 300px;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.rileyButtons {
  display: flex;
  justify-content: space-between;
}

.rileyForm input[type='submit'] {
  width: 45%;
  margin: 1em 1em 1em 0;
  padding: 0.4em;
  background-color: #5e686d;
  color: white;
  border: none;
  border-radius: 0.1em;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.rileyForm input[type='submit']:hover {
  background-color: #525c61;
  color: #e8eced;
}
