* {
  box-sizing: border-box;
}

.tributeMain {
  background-color: #fffffe;
  font-family: Candara, Calibri, sans-serif;
}

.tributeMain header {
  color: #effeee;
  background-color: #444444;
  text-align: center;
  padding: 32px 0 48px;
  width: 100%;
}

.tributeMain header h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.tributeImage {
  height: auto;
  width: 70%;
  max-width: 100%;
  margin: auto;
  padding-top: 12px;
  display: block;
}

.imgDiv {
  display: block;
  /* align-items: center; */
  text-align: center;
  /* justify-content: center; */
  margin: 24px auto;
  width: 90%;
}

.imgCaption {
  font-family: sans-serif;
  font-size: 12px;
}

.tributeLink a {
  text-decoration: none;
  color: #313436;
  font-weight: bold;
  font-style: italic;
}

.tributeLink a:hover {
  color: #262829;
}

.tributeInfo {
  width: 80%;
  display: block;
  align-items: center;
  margin: 0 auto;
}

.tributeInfo h3 {
  font-weight: bold;
  font-size: 28px;
  margin-left: 24px;
  padding-top: 24px;
}

.quote {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  width: 70%;
  display: block;
  text-align: center;
  align-items: center;
  margin: 4px auto;
  padding: 8px 0;
}

.infoIist {
  font-size: 18;
}

.tributeMain li {
  padding: 8px 0;
  list-style: none;
}

.divider {
  display: block;
  padding-top: 24px;
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #2e2554;
  align-items: center;
}

.references {
  width: 90%;
  display: block;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 60px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.referencesLink {
  margin: 0;
  font-size: 0.8rem;
  font-family: sans-serif;
}
